.Home
  h1
    color: #8061e8
    border-bottom: 1px solid #8061e8

  .spin
    color: #8061e8
    font-size: 3em
    animation: spin 2s infinite linear, appear .5s 1 linear

  .spinnerArea
    margin-top: 20px
    text-align: center
